.title-slide {
  background-image: url(images/IMG_5136.JPG);
  background-size: cover;
}

.remark-slide-content {
  font-size: 27px;
}

.remark-slide-content {
  padding: 1em 2em 1em 2em;
}

.mjx-chtml element {
font-size: 85%;
}

.smaller {
  font-size: 19px;
}
